{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="search" role="button">Search</a>
</div>
<!-- <div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="display" role="button">Display Table</a>
</div>
<div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="q10" role="button">Question 10</a>
</div> -->
<!-- <div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="specified" role="button">Earthquake data on Specified Range</a>
</div> -->
<!-- <div class="badge text-white text-center" style="background-color: #d18f14;font-style: italic;">
    <a class="btn btn-light" href="generate_chart" role="button">Sample</a>
</div> -->
{% endblock %}